
<footer id="footer" >
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Lawyerd</h3>
              <p>
                Genghis Street <br>
                KP Saleem Khan, Pak<br><br>
                <strong>Phone:</strong> +92 311 094 84 16<br>
                <strong>Email:</strong> info@lawyerd.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Practices</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Attorneys</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Case Studies</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">FAQs</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Services Area</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Civil Law</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Family Law</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Business Law</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Education Law</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Immigration Law</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Lawyerd</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        @2023
      </div>
        <div class="social-links d-none d-md-block" style="">
        <a href="#" class="twitter"><i class="bi bi-twitter "> </i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"> </i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"> </i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </footer>